<div class="container__big-card">
    <div class="big-card__photo">
        <img src="https://miro.medium.com/v2/resize:fit:1400/1*bMgQ8MhbnQexpqHgIgBJPA.png" 
        alt="" 
        height="200px"
        srcset=""
        >
    </div>
    <a href=""></a>
    <div class="big-card__title">
        <h1><a href="#">A nova versão do Angular</a></h1>
    </div>
    <div class="big-card__description">
        <p>
            <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut justo posuere, commodo tortor at, sollicitudin orci. Cras euismod quam eget ligula porta lacinia. In hac habitasse platea dictumst. 
                Vestibulum volutpat libero ac ipsum dictum, quis pulvinar magna pharetra.
            </a>
        </p>
    </div>
</div>
